extends boilerplate.pug

block style
    link(rel='stylesheet', href='../public/css/index.css')

block content
    .main-grid
        .top-left
            .value-displays.section
                each val in [1, 2, 3, 4]
                    .value-display(id=`value-display-${val}`)
                        p(id=`value-display-label-${val}`) Value #{val}
                        h1(id=`value-dsiplay-text-${val}`)
            .state-buttons.section
                | State Buttons
            .contol-buttons.section
                | Control Buttons
        .top-right
            .chart-1.section
                | Chart 1
            .chart-2.section
                | Chart 2
            .link-stats.section
                | Link Stats
        .bottom
            .e-stop.section
                | E STOP
            .motion-table.section
                | Motion Table
            .breaking-table.section
                | Breaking Table
            .battery-table.section
                | Battery Table
            .motor-table.section
                | Motor Table


