/* general styling */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
h1 {
  color: gray;
  padding-left: 10px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 12px;
}
* {
  box-sizing: border-box;
}
a {
  -webkit-app-region: no-drag;
}
button {
  -webkit-app-region: no-drag;
}


/* banner styling */
.banner {
  overflow: hidden;
  background-color: gray;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  -webkit-app-region: drag;
}
.banner .left {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-size: 25px;
  -webkit-app-region: no-drag;
}
.banner .right {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  font-size: 25px;
}
.banner .settingsTrigger {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  font-size: 25px;
}

/* banner dropdown (need to fix, bit hard to get opened) */
.banner_dropdown {
  float: right;
  overflow: hidden;
}
.banner_dropdown .dropbtn {
  font-size: 20px;    
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height: 100%;
  -webkit-app-region: no-drag;
}
.banner_dropdown-content {
  display: none;
  position: fixed;
  top: 66px;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000 !important;
}
.banner_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.banner_dropdown-content a:hover {
  background-color: #ddd;
}
.banner_dropdown:hover .banner_dropdown-content {
  display: block;
}
.banner_dropdown img {
  padding-top: 10px;
}

/* Box's styling */
.box {
  height: 500px;
  margin: 5px;
  background-color: #fff;
  color: black;
  border-color: #282728;
  border-style: solid;
  border-radius: 10px;
}
.box-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.ok {
  border-color: #C8EEC4;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}
.error {
  border-color: #FC6962;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

/* line chart styling */
.lineChart {
  height: 500px;
  margin: 5px;
  background-color: #fff;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

/* input field styling */
input {
  background-image: url('../images/searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  width: 100%;
  margin-bottom: 12px;
  border: none;
  border-bottom: 1px solid #ddd;
}
input:focus {
  outline: 3px solid #ddd;
}

.inputNotSearchable{
  background: none;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    width: 100%;
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* table styling */
table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 14px;
  width: 100%;
  table-layout: fixed;
}
table th, table td {
  text-align: left;
  padding: 12px;
}
table tr {
  border-bottom: 1px solid #ddd;
  width: 100px;
}
table tr.header, table tr:hover {
  background-color: #f1f1f1;
}
td.last {
  width: 1px;
  white-space: nowrap;
}
.valueTableMotion {
  width: 183px;
  overflow: hidden;
}
.valueTableBraking {
  width: 234px;
  overflow: hidden;
}
.valueTableBattery {
  width: 160px;
  overflow: hidden;
}
.valueTableMotor {
  width: 150px;
  overflow: hidden;
}
.min {
  width: 70px;
  overflow: hidden;
}
.max {
  width: 70px;
  overflow: hidden;
}
.actual {
  width: 85px;
  overflow: hidden;
}

/* dropdown styling */
.dropbtn {
  background-color:#D3D3D3;
  border: none;
  color: #808080;
  text-align: center;
  text-decoration: none;
  position: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #808080;
  border-radius: 6px;
  width: 100px;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #A9A9A9;
  color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 50px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  height: 300px;
  z-index: 100;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:nth-child(odd) {
  background-color: white;
  ;
}
.dropdown a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}

.hide{
  display: none;
}
#myDropdown1 {
  top: 68px;
}
#myDropdown2 {
  right: 45px;
  top: 80px;
}
#myDropdown3 {
  right: 45px;
  top: 170px;
}

/* styling for pop-up modal */
.settingsModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
 .confirmationModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
#settingsModalContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 50vw;
  height: 65vh;
  border-radius: 0.5rem;
}
#confirmationModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 20vw;
  height: 20vh;
  border-radius: 0.5rem;
}
.close-button, .close-button2 {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.confirmationButton {
  margin-left: 40%;
  width: 100px;
  height: 50px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.confirmationText {
text-align: center;
}
.close-button:hover, .close-button2:hover, .confirmationButton:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* connection status styling */
.connected span2 {
  display: none;
}
.disconnected {
  height: 40px;
  position: absolute;
  fill: red;
}
span2{
  color: #FC6962;
}
#braking_status, #motion_status, #battery_status, #motor_status {
  padding: 4px;
  display: inline;
  text-align: right;
}

/* header focus styling */
.header_focus {
  border-radius: 8px;
  border-style: solid;
  float: left;
  margin: 4px 2px;
  color: black;
  width: 100%;
  text-align: center;
}
#header_focus_1{
  border-color: #646569;
}
#header_focus_1:hover{
  background-color: #f2f2f2;
}
#header_focus_2{
  border-color: #646569;
}
#header_focus_2:hover{
  background-color: #f2f2f2;
}
#header_focus_3{
  border-color: #646569;
}
#header_focus_3:hover{
  background-color: #f2f2f2;
}
#header_focus_4{
  border-color: #646569;
  box-sizing: border-box;
}
#header_focus_4:hover{
  background-color: #f2f2f2;
}
.header_focus:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.header_focus h1{
  color: black;
}
.header_focus:hover h1{
  color: black;
}
.header_focus2 {
  border-radius: 8px;
  border-style: solid;
  float: left;
  margin: 4px 2px;
  color: black;
  width: 100%;
  height: 120px;
  text-align: center;
}
.header_focus_chart {
  border-radius: 8px;
  border-style: solid;
  border-color: #646569;
  float: left;
  margin: 4px 2px;
  color: black;
  width: 100%;
  text-align: center;
}

/*master start styling */
#start {
  background-color:green;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 5px solid green;
  border-radius: 10px;
  width: 100%;
  height: 49%;
  font-weight: 1000px;
  margin-top: -2px;
}
#start:hover {
  color: white;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: darkgreen;
  border: 2px solid darkgreen;
  padding: 10px;
}
#start h1 {
  color: white;
}

/*motor safety toggle styling */
#motor-safety {
  background-color:black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 5px solid black;
  border-radius: 10px;
  width: 100%;
  height: 23.5%;
  font-weight: 1000px;
  margin-top: 10px;
}
#motor-safety:hover {
  color: white;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: #202020;
  border: 2px solid #202020;
  padding: 10px;
}
#motor-safety h3 {
  color: white;
}
.status-on {
  color: green;
}
.status-off {
  color: red;
}
/* emergency stop styling */
#estop {
  background-color:#C10000;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 5px solid #C10000;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  height: 98%;
  font-weight: 1000px;
}
#estop:hover {
  color: white;
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: #FF0000;
  border: 2px solid #FF0000;
}
/* blinking color warning */
@keyframes blink {
  from {
     background-color: black;
     border: 2px solid black;
  }
  to {
     background-color: #FF0000;
     border: 2px solid #FF0000;
  }
}
#estop h1 {
  color: white;
}

/* state machine styling */

/* default button styles */
.stateButton {
  text-decoration: none;
  position: inline-block;
  margin: 4px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
  width: 100px;
  height: 80px;
  font-weight: 800;
  color: #ADADAD;
}
.stateButtonInactive{
  text-decoration: none;
  position: inline-block;
  margin: 4px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
  width: 100px;
  height: 80px;
  font-weight: 800;
  color: #ADADAD;
  background-color: grey !important;
}

/* individual button styles */

#hvEnable, #hvDisable {
  background-color: #F4D76F;
  color: #000000;
  border: 2px solid #D35500;
  border-color: red;
}

#hvEnable .active {
  color: #3C9159;
}
#hvDisable .active {
  color: #3C9159;
}
#secBrakeVentOn, #secBrakeVentOff {
  background-color: #5C97BF;
  color: white !important;
  border: 2px solid #23242A;
}

#archiveButton {
  background-color: #AEA8D3;
  border: 2px solid #684072;
  color: black;
}
#dataRecordButton {
  background-color: #AEA8D3;
  border: 2px solid #684072;
  color: black;
}
#precharge {
  border-color: red;
  background-color: #C6A153;
  color: white;
}

#latchOn, #latchOff {
  background-color: #554188;
  color: white;
  border: 2px solid black;
}

#cmdTorque {
  background-color: #F4D76F;
  color: #000000;
  border: 2px solid #D35500;
  border-color: red;
}

/* status styling */
#podStatus {
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 30px;
}
#hostStatus {
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
}
#statusConnection1 {
  display: inline-block;
  vertical-align: middle;
  color: red;
  font-weight: 800;
}
#statusConnection2 {
  display: inline-block;
  vertical-align: middle;
  color: red;
  font-weight: 800;
}
.statusGood {
  color: green;
}
.statusBad {
  color: red;
}
#age {
  display: inline-block;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  margin-top: -10px;
  color: #808080;
}
#ageDisplay {
  padding: 0px;
  vertical-align: middle;
  margin-top: -20px;
}

/* Header 4 (link and latency) styling */
#header4{
  padding-bottom:100px;
  display: flex;
  justify-content: space-around;
}
#header4 h1 {
  font-size: 1.3vw; /* responsive size */
  width:100%;
  display:flex; /* vertically centering */
  align-items: center; /* vertically centering */
  justify-content: center; /* vertically centering */
}
#header4Left {
  width: 10%;
  padding-left: 30px;
}
#header4Right {
  float: right;
  width: 60%;
  padding-left: 20px;
}
#header4Middle {
  float: right;
  width: 30%;
  padding-left: 40px;
  line-height: 30px;
  color: #808080;
  padding-top: 15px;
}
.connectionTitle {
  display: inline;
}
#connectionDot1, #connectionDot2{
  display: inline;
  font-size: 40px;
  line-height: 20px;
}
#connectionDot1 {
  padding-left: 16px;
}
#connectionDot2 {
  padding-left: 11px;
}
.connectionError { /* styling status  */
  color: red;
}
.connectionOk { /* styling status */
  color: green;
}
#link1, #link2 {
  font-size: 50px;
  line-height: 0px;
}


/* something ??? */
.modebar {
  display: none !important;
}

/* form styling */
form {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 48% 48;
  margin: 10px auto 10px auto;
  max-width: 600px;
}
#formTitle {
  margin-bottom: 5;
}
.formInput {
  background: #fff;
  border: 1px solid #1E1E1E;
  border-radius: 8px;
}
#podSettingsSubmit {
  font-size: 15px;
  background: #D3D3D3;
  border: 1px solid white;
  border-radius:8px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
#podSettingsSubmit:hover {
  background: #3C3C3C;
  color: white;
  border-radius:8px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
label {
  padding-top: 10px;
  color: #1E1E1E;
  font-style: italic;
  bottom: 10px;
}
.formInput {
  padding: 0.7em;
  margin-top: 8px;
  margin-bottom: 8px;
}
.formInput:focus {
  background: #D3D3D3;
  border: 1px solid black;
  border-radius:8px;
}
#formLeft {
  grid-column: 1/2;
  grid-row: 1/2;
}
#formRight {
  grid-column: 2/3;
  grid-row: 1;
}
#formFull {
  grid-column: 1/3;
  grid-row: 2;
  margin-top: -35px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0; 
}

/* extra box styling */ 
#extra {
  border: none;
}

/* JSON timer counters styling */
#info {
  padding-left: 15px;
  line-height: 10px;
}

/* JSON button stlying */
.JSON_button {
  text-decoration: none;
  position: inline-block;
  margin: 4px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #808080;
  border-radius: 6px;
  width: 100px;
  height: 80px;
  font-weight: 800;
}
.JSON_button:hover {
  background-color: #808080 !important;
  -webkit-transition: background-color 200ms linear !important;
  -ms-transition: background-color 200ms linear !important;
  transition: background-color 200ms linear !important;
}
.JSON_slider {
  text-decoration: none;
  position: inline-block;
  margin: 4px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  /* border: 2px solid #808080; */
  border-radius: 6px;
  width: 300px;
  height: 80px;
  font-weight: 800;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #808080;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider :hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #C10000;
  cursor: pointer;
}
#fileSelector {
  background-color: #554188;
  color: white;
}
#back {
  background-color: #C66553;
  color: white;
}
#forward {
  background-color: #C66553;
  color: white;
}
#play {
  background-color: #3C9159;
  color: white;
}
#pause{
  background-color: #C6A153;
  color: white;
}
#reset{
  background-color: #C10000;
  color: white;
}

/*
Terminal styling
*/

/* main terminal box */
#terminal {
  background-color: black;
  height: 91vh;
  color: white;
  font: 1em Inconsolata, monospace;
  border-radius: 10px;
  margin-left: 10px;
}

/* output line/box styling */
#prompt {
  display:inline;
}
#terminalInputBox {
  border-bottom: none!important;
  box-shadow: none!important;
}
#terminalInput input:focus {
  outline: none;
}
.message {
  color: green;
}

/* output and input text styling */
#terminalOutput, #terminalInput{
  padding-left: 20px;
}

/* styling for the list of outputs */
#terminalOutputList {
  list-style: none;
    padding-left: 0;
}

#terminalInput input[type='text'] {
  font: 1em Inconsolata, monospace;
  color: white;
  margin-top: -50px;
  margin-left: -40px;
}

