.grid-container {
    display: grid;
    padding-top: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Terminal Helper";
  }
  
  .Terminal { grid-area: Terminal; }
  
  .Helper { grid-area: Helper; }

  /* form */
#formLeft {
  grid-column: 1/2;
  grid-row: 1/2;
}
#formRight {
  grid-column: 2/3;
  grid-row: 1;
}
#formFull {
  grid-column: 1/3;
  grid-row: 2;
}
#formLeft {
  grid-column: 1/2;
  grid-row: 1/2;
}
#formRight {
  grid-column: 2/3;
  grid-row: 1;
}
#formFull {
  grid-column: 1/3;
  grid-row: 2;
}

#TorqueGUI {
  padding: 25px;
  grid-column: 2 / 3;
  grid-row: 1;
  height: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: 300px 300px 100px 100px;
  grid-template-rows: 10px 50px 50px 50px;
}
#torqueInput {
  grid-column: 1/3;
  grid-row: 2/3;
  height: 80px;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 50px;
  text-align: center;
}
#torqueUpButton {
  grid-column: 3;
  grid-row: 2;
  color: black;
  background-color: green;
}
#torqueDownButton {
  grid-column: 3;
  grid-row: 3;
  color: black;
  background-color: red;
}
#torqueSendButton {
  grid-column: 1/3;
  grid-row: 4;
  width: 625px;
  text-align: center;
  color: black;
  background-color: #1ba1e2;
}
#torqueTitle {
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
}

/* emergency stop styling */
#terminalEstop {
  background-color:#C10000;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 5px solid #C10000;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  font-weight: 1000px;
  grid-column: 4;
  grid-row: 1/5;
}
#terminalEstop:hover {
  color: white;
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: #FF0000;
  border: 2px solid #FF0000;
}