.grid-container {
    display: grid;
    padding-top: 80px;
    grid-template-columns: .8fr .8fr;
    grid-template-areas: "Terminal Helper";
    margin-top: 20px;
}

.Terminal {
    grid-area: Terminal;
}

.Helper {
    grid-area: Helper;
}

/* form */

#formLeft {
    grid-column: 1/2;
    grid-row: 1/2;
}

#formRight {
    grid-column: 2/3;
    grid-row: 1;
}

#formFull {
    grid-column: 1/3;
    grid-row: 2;
}

#formLeft {
    grid-column: 1/2;
    grid-row: 1/2;
}

#formRight {
    grid-column: 2/3;
    grid-row: 1;
}

#formFull {
    grid-column: 1/3;
    grid-row: 2;
}