.grid-container {
    display: grid;
    padding-top: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Terminal Helper";
  }
  
  .Terminal { grid-area: Terminal; }
  
  .Helper { grid-area: Helper; }

  /* form */
#formLeft {
  grid-column: 1/2;
  grid-row: 1/2;
}
#formRight {
  grid-column: 2/3;
  grid-row: 1;
}
#formFull {
  grid-column: 1/3;
  grid-row: 2;
}
#formLeft {
  grid-column: 1/2;
  grid-row: 1/2;
}
#formRight {
  grid-column: 2/3;
  grid-row: 1;
}
#formFull {
  grid-column: 1/3;
  grid-row: 2;
}

#TorqueGUI {
  padding: 25px;
  grid-column: 2 / 3;
  grid-row: 1;
  height: 100%;
  display: grid;
  gap: 3px;
  grid-template-columns: 400px 400px 250px;
  grid-template-rows: 50px 50px 50px;
}
#torqueInput {
  grid-column: 1/3;
  grid-row: 1/2;
}
#torqueUpButton {
  grid-column: 3;
  grid-row: 1;
}
#torqueDownButton {
  grid-column: 3;
  grid-row: 2;
}
#torqueSendButton {
  grid-column: 1/3;
  grid-row: 3;
}