/* grid layout */
.grid {
  margin-top: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68% .68%;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.JSON_grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.grid_focus2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 40% 40% 19%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.gridStateMachine {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
}

/* general grid layout */
  #header1 {
    grid-column: 1/45;
    grid-row: 1/3;
    height: 180px;
  }
  #header2 {
    grid-column: 45/85;
    grid-row: 1/4;
    height: 370px;
  }
  #header3 {
    grid-column: 1/45;
    grid-row: 3/5;
    height: 300px;
  }
  #header4 {
    grid-column: 45/85;
    grid-row: 4;
    height: 80px;
  }
  #motion_div {
    grid-column: 1/22;
    grid-row: 5;
    height: 100%;
  }
  #braking_div {
    grid-column: 22/45;
    grid-row: 5;
    height: 100%;
  }
  #battery_pack_div {
    grid-column: 45/65;
    grid-row: 5;
    height: 100%;
  }
  #motor_div {
    grid-column: 65/85;
    grid-row: 5;
    height: 100%;
  }

/* grid layout for charts*/
#header_focus_chart1 {
  grid-column: 1;
  grid-row: 1;
  height: 330px;
}
#header_focus_chart2 {
  grid-column: 2;
  grid-row: 1;
  height: 330px;
}
#focus_chart_add_button {
  grid-column: 3;
  grid-row: 1;
  height: 105px;
}
#focus_chart_add_button2 {
  grid-column: 3;
  grid-row: 2;
  height: 105px;
}
#focus_chart_clear_button {
  grid-column: 3;
  grid-row: 3;
  height: 105px;
}

/* form */
#formLeft {
  grid-column: 1/2;
  grid-row: 1/2;
}
#formRight {
  grid-column: 2/3;
  grid-row: 1;
}
#formFull {
  grid-column: 1/3;
  grid-row: 2;
}
#formLeft {
  grid-column: 1/2;
  grid-row: 1/2;
}
#formRight {
  grid-column: 2/3;
  grid-row: 1;
}
#formFull {
  grid-column: 1/3;
  grid-row: 2;
}