$banner-color:      rgb(110, 111, 122);
$hover-color:       lighten($banner-color, 10%);
$active-color:      lighten($hover-color, 10%);

$banner-height:     4.25em;

/*
 * BANNER
*/

#title {
    text-transform: uppercase;
}

.banner {
    overflow: hidden;
    background-color: $banner-color;
    position: fixed;
    top: 0;
    width: 100vw;
    height: $banner-height;
    z-index: 1; 
    -webkit-app-region: drag;

    .left, .right, .settingsTrigger {
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
    }

    .left {
        float: left;
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 30px;
    }

    .right {
        float: right;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .settingsTrigger {
        float: right;

        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.banner-selectable {
    cursor: pointer;
    height: 100%;

    &:hover {
        background-color: $hover-color;
    }

    &:active {
        background-color: $active-color;
    }
}

/*
 * WINDOW CONTROL BUTTONS
*/

// Fix alignment of close window button
#close-window {
    margin-right: 10px;
    padding-top: 18px;
}

// Fix alignment of min window button
#min-window {
    padding-top: 18.5px;
}

/*
 * CHANGE VIEW DROPDOWN
*/

#banner-drop {
    height: 100%;
}

.banner_dropdown {
    float: right;
    overflow: hidden;

    .dropbtn {
        font-size: 20px;
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        width: 200px;
        height: 100%;
        -webkit-app-region: no-drag;
        padding-bottom: 100%;
    }

    &:hover .banner_dropdown-content {
        display: block;
    }

    img {
        padding-top: 10px;
    }
}

.banner_dropdown-content {
    display: none;
    position: fixed;
    top: 68px;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000 !important;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover {
            background-color: #ddd;
        }
    }
}