$font:  'Montserrat', sans-serif;

body {
    font-family: $font;
    margin: 0;
    height: 100%;
}

div#bodyContent {
    position: absolute;
    top: 4.25em;
    width: 100%;
    height: calc(100% - 4.25em);
    padding: 5px;
}

h1 {
    color: gray;
    padding-left: 10px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

a {
    -webkit-app-region: no-drag;
}

button {
    -webkit-app-region: no-drag;
}

/* https://stackoverflow.com/a/2310809 */
.unselectable {
    -webkit-app-region: drag;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}